__pycache__/
*.bin
*.elf
*.pyc
*.env
*.DS_Store
build/
node_modules/
target/
.idea/
.vscode/
# Ignore actual secrets
esp32-firmware/include/secrets.h
esp32-firmware/include/secrets_station*.h
esp32-firmware/certs/certificates.h

